<%- include("partials/header") %>
<h1 class="row justify-content-center">Sign Up Today!</h1>
<!-- <form>
    <input type="text" placeholder="First Name"><br>
    <input type="text" placeholder="Last Name"><br>
    <input type="text" placeholder="Email"><br>

</form> -->
<form class="row g-3">
    <div class="row g-3 justify-content-center">
        <div class="col-md-4">
            <label for="inputFName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFName">
        </div>
        <div class="col-md-4">
            <label for="inputLName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLName">
        </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-md-4">
            <label for="inputTrainingGoals">Training Goals (Check one or more):</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Lose Weight
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Strength
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Muscle Mass
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Sports/Athletics
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputTrainingLevel" class="form-label">Training Level</label>
            <select id="inputTrainingLevel" class="form-select">
                <option selected>Select One</option>
                <option>Beginner</option>
                <option>Intermediate</option>
                <option>Advanced</option>
                <option>Athlete</option>
                <option>Not sure</option>
            </select>
        </div>
    </div>
    <div class="form-floating row g-3 justify-content-center">
        <textarea class="col-8" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-8">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</form>

<%- include("partials/footer") %>