<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class="fas fa-home"></i> Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about"> About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/routines" tabindex="-1" aria-disabled="true"> Routines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" tabindex="-1" aria-disabled="true"><i></i> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="/payment">Pricing</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- ICONS FOR NAVBAR -->
<!-- <i class="fas fa-dollar-sign"</i> -->
<!-- <i class="fas fa-dumbbell"></i> -->
<!-- <i class="fas fa-phone"></i> -->
<!-- <i class="fas fa-address-card"></i> -->